<% console %>
<main>
  <div class="container">
    <div class="user-form">
    <div class="form-header">ログイン</div>
      <div class="form-body">

        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_with url:"login", local:true do |f| %>
          <p>
            <input type="text" name="email" placeholder="メールアドレス" value="<%= @email %>">
          </p>
          <p>
            <input type="password" name="password" placeholder="パスワード">
          </p>
          <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</main>