<div>
  <div>
    ここに本サイトの説明が入るイメージを用意する。
  </div>
  <h2>最新の質問</h2>
  <div class="question-list">
    <ul>
      <% @illusts.each do |illust| %>
        <li>
          <%= link_to illust.name, "/questions/#{illust.id}", data: {"turbolinks" => false}  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>