$button-color: #6dd2ff;
$form-input-width: 50%;

// ボディ
body {
  margin: 0;
  min-height: 1vh;
}

// ヘッダー
header {
  width: 100%;
  height: 60px;
  background-color: #34a4eb;
}

.header-logo {
  float: left;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 0.75rem;
  color: white;
  a {
    color: white;
    font-weight: bold;
  }
  a:hover {
    color: white;
    font-weight: bold;
  }
}

.header-menus {
  float: right;
  padding-right: 1rem;
  padding-top: 1rem;
  li {
    float: left;
    list-style-type: none;
    padding-right: 0.5rem;
  }
  a {
    color: white;
    font-size: 1.2rem;
  }
  a:hover {
    color: white;
  }
}

main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: auto;
}

.container {
  max-width: 80rem;
  margin: 60px auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  clear: both;
}

.form-header {
  font-size: 2.5rem;
  font-weight: 300;
  color: #707070;
  margin-bottom: 2rem;
  text-align: center;
}

.form-body {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: $form-input-width;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: #57575f;
    border-style: solid;
    border-color: #707070;
    border-radius: 12px;
  }
  input[type="submit"] {
    display: block;
    width: 15%;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: $button-color;
    border-style: none;
    border-radius: 12px;
    color: white;
    text-align: center;
  }
  input[type="checkbox"] {
    height: auto;
  }
  textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $form-input-width;
  }
  #illust_preview {
    label {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      position: relative;
      color: white;
      background-color: $button-color;
      border-radius: 12px;
      width: 40%;
      height: 60px;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .preview_image {
      display: block;
      width: 600px;
      height: auto;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #login_link {
    display: block;
    width: 15%;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: gray;
    border-style: none;
    border-radius: 12px;
    text-align: center;
    color: rgb(197, 197, 197);
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  input[type="file"] {
    display: none;
  }
  .form-error {
    color: red;
  }
}

.user-form {
  max-width: 60rem;
  margin: 0 auto;
}

.user-form {
  box-shadow: 0 2px 6px #c1ced7;
  padding: 50px;
}

// フラッシュ
.notice {
  color: white;
  padding: 12px, 0;
  background-color: #2dff62;
  text-align: center;
}

.alert {
  color: white;
  padding: 12px, 0;
  background-color: #ff4234;
  text-align: center;
}
