// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// main {
//   width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
// }

#question-container {
  margin: 60px;
  .question-content {
    width: 1200px;
    margin-left: 235px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#question-image {
  margin-top: 30px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.comment {
  border-top: 1px solid;
  margin-top: 30px;
}

.comments {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid;
}

#comment-area {
  margin-top: 20px;
}

h1 {
  text-align: center;
}

.illust-field {
  margin-bottom: 15px;
}

.konvajs-content {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
}
