// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$arrow-top-position: 60px;

.mypage {
  // width: 50%;
  height: 150px;
}

.fa-angle-left {
  position: absolute;
  z-index: 100;
  left: -50px;
  top: $arrow-top-position;
}

.fa-angle-right {
  position: absolute;
  z-index: 100;
  right: -10px;
  top: $arrow-top-position;
}

.questions,
.answers {
  margin-top: 70px;
}
